<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/sports.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <title>Chuck Quotes Spring</title>
</head>

    <body>
        <div class="container-fluid bg-dark text-white d-flex justify-content-center">
            <h2>MP3-UF6 Sports from LiveScore API(rapidAPI)</h2>
        </div>
        <div class="container-fluid border pt-2 d-flex justify-content-center">

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group-lg" role="group" aria-label="First group" th:each="sp:${sport}">

                    <button type="button" class="btn btn-primary"
                            th:text="${sp.name()}"
                            th:data-name="${sp.name}"
                            th:onclick="createChart(this.getAttribute('data-name'))"
                    />
                </div>
            </div>

        </div>
    <div id="chart">

    </div>
    </body>

</html>